@import "tailwindcss";

:root {
  --primary-blue: #4ea1ff;
  --dark-bg: #0d0d0d;
  --light-bg: #ffffff;
  --gray-header: #e9ecf1;
  --text-dark: #111111;
  --text-light: #ffffff;
  --font-main: 'Inter', sans-serif;
}

body {
  margin: 0;
  font-family: var(--font-main);
  background-color: var(--dark-bg);
  color: var(--text-light);
}

h1, h2 {
  text-align: center;
}

button {
  font-weight: bold;
  font-size: 16px;
  padding: 8px 8px;  border-radius: 8px;
  border: none;
  cursor: pointer;
  transition: all 0.3s ease;
}

button:hover {
  transform: scale(1.05);
}
